<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <!-- Top nav bar (fixed???) -->
  <nav>
    <div class="upper-nav">
      <img src="/images/burger-icon.png" width="80" height="80">
      <div><h2>BURGER PLACE</h2></div>
      <div>SIGN IN</div>
    </div>
    <div class="lower-nav">
      <a>Entrees</a>
      <a>Sides</a>
      <a>Drinks</a>
      <a>Desserts</a>
    </div>
  </nav>

  <!-- Page-specific (main) content here -->
  <main class="container">
    <!-- <section>

    </section> -->
    <section class="entrees-section">

      <div class="menu-item" id="item1">
        <figure>
          <img src="/images/burger.jpeg">
          <figcaption>A delicious burger made with 100% triple grade A beef</figcaption>
        </figure>
        <button class="add-to-order" type="submit">Add</button>
      </div>

      <div class="menu-item" id="item2">
        <figure>
          <img src="/images/fries.jpeg">
          <figcaption>Fries made from russet potatoes</figcaption>
        </figure>
        <button class="add-to-order" type="submit">Add</button>
      </div>

      <div class="menu-item" id="item3">
        <figure>
          <img src="/images/drinks.jpeg">
          <figcaption>Entree Three</figcaption>
        </figure>
        <button class="add-to-order" type="submit">Add</button>
      </div>

      <div class="menu-item" id="item4">
        <figure>
          <img src="/images/dessert.jpeg">
          <figcaption>Entree Four</figcaption>
        </figure>
        <button class="add-to-order" type="submit">Add</button>
      </div>

    </section>

      <!-- <div class="entrees"> -->



      <!-- </div> -->

      <!-- <div class="Sides"> -->
        <!--  -->
      <!-- </div> -->

      <!-- <div class="Drinks"> -->
        <!--  -->
      <!-- </div> -->

      <!-- <div class="Desserts"> -->
        <!--  -->
      <!-- </div> -->

    <!-- </section> -->

    <div class="checkout">
      <button id="checkout-button" type="submit">Checkout</button>
    </div>

  </main>

  <!-- Footer -->
  <footer>
    <div class="footer-content">
      <div class="socials-links">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
      <div class="footer-links">
        <ul>Our Company</ul>
        <ul>FAQ's</ul>
        <ul>Career Oppurtunities</ul>
        <ul>Contact Us</ul>
      </div>
      <div class="footer-copyright">
        <small>©2022 Burger Place International All Rights Reserved</small>
      </div>
    </div>

  </footer>

</body>

</html>
