<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/sidebar.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!--Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500&family=Sansita+Swashed&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
  <!-- Top nav bar (fixed???) -->
  <nav>
    <div id="logo">
      <i id = "logo-img" class="fa-solid fa-burger-cheese"></i>
      <h2>BURGER PLACE</h2>
    </div>
    <div id="menu-nav">
      <p class="item">Entrees</p>
      <p class="item">Sides</p>
      <p class="item">Drinks</p>
      <p class="item">Desserts</p>
    </div>
    <p id = "sign-in">SIGN IN<p>
    <button id="checkout-button" type="submit"><i class="fa-solid fa-cart-shopping fa-2x"></i></button>

  </nav>

  <!-- Page-specific (main) content here -->
  <main>

    <section class="order-sidebar">
      <h2>Orders</h2>
      <section class="order-sidebar-content">

      </section>
      <footer class="sidebar-footer">
        <p>Subtotal: <p id="subtotal"></p></p>
        <p>Tax: <p id="tax"></p></p>
        <p>Total: <p id="total"></p></p>
        <button id="clear-cart">Clear Cart</button>
        <button id="submit-order">Order</button>
      </footer>
    </section>

    <section class="menu">
      <p class ="menu-title">Entrees</p>
      <div class="title-items">
        <!-- <div class="menu-item">
          <p class = 'item-name'>Scorpion Gourmet Burger</p>
          <figure>
            <img class = "item-photo" src="https://images.ctfassets.net/oewsurrg31ok/1iXVHMMD4A2jWpc3jJ41DA/f4227523f43fb8cf562063e395bed9dd/Q3_Scorpion_Gourmet_Burger_21.png?w=1200&h=900&q=50&fm=webp">
            <figcaption>Fire-grilled beef burger topped with Scorpion Pepper Sauce, Pepper-Jack, fried jalapeno coins, lettuce, tomatoes, pickles, red onions and jalapenos roasted in Scorpion sauce and roasted garlic aioli on a sesame seed bun</figcaption>
          </figure>
          <div class = "item-footer">
            <p class = 'price'>$<%= 1779 /100%></p>
            <button class="add-to-order" type="submit">Add</button>
          </div>
        </div>

        <div class="menu-item">
          <p class = 'item-name'>Scorpion Gourmet Burger</p>
          <figure>
            <img class = "item-photo" src="https://images.ctfassets.net/oewsurrg31ok/1iXVHMMD4A2jWpc3jJ41DA/f4227523f43fb8cf562063e395bed9dd/Q3_Scorpion_Gourmet_Burger_21.png?w=1200&h=900&q=50&fm=webp">
            <figcaption>Fire-grilled beef burger topped with Scorpion Pepper Sauce, Pepper-Jack, fried jalapeno coins, lettuce, tomatoes, pickles, red onions and jalapenos roasted in Scorpion sauce and roasted garlic aioli on a sesame seed bun</figcaption>
          </figure>
          <div class = "item-footer">
            <p class = 'price'>$<%= 1779 /100%></p>
            <button class="add-to-order" type="submit">Add</button>
          </div>
        </div> -->
      </div>

    </section>

  </main>

  <!-- Footer -->
  <footer>
      <div class="socials-links">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
      <div class="footer-links">
        <ul>Our Company</ul>
        <ul>FAQ's</ul>
        <ul>Career Oppurtunities</ul>
        <ul>Contact Us</ul>
      </div>
      <div class="footer-copyright">
        <small>©2022 Burger Place International All Rights Reserved</small>
      </div>

  </footer>
  <!-- Bootstrap JS and Popper link -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/network.js"></script>
  <script type="text/javascript" src="/scripts/components/order_sidebar.js"></script>
  <script type="text/javascript" src="/scripts/components/main_menu.js"></script>
</body>

</html>
