<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Page</title>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/network.js"></script>
  <script type="text/javascript" src="/scripts/components/order_page.js"></script>
  <style>
    .order-sidebar {
      position: fixed;
      width: 300px;
      overflow-y: scroll;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: chocolate;
    }
    .order-sidebar h2 {
      background-color: brown;
    }
    img {
      width: 100px;
      height: auto;
    }
    .menu-item {
      background-color: red;
      border: 5px blue solid;
    }
    .sidebar-footer {
      height: auto;
    }
  </style>
</head>
<body>

  <h1>Orders</h1>
  <p>Thanks for submitting your order!</p>
  <main class="orders"></main>
  <p>Subtotal: <p id="subtotal"></p></p>
  <p>Tax: <p id="tax"></p></p>
  <p>Total: <p id="total"></p></p>
  <button class="cancel-order" type="submit">Cancel</button>



</body>
</html>
