main > div {
  display: flex;
  flex-direction: row;
  // justify-content: center;
}

.entrees-section {
  display: flex;
}

// .menu-item {
//   display: flex;
//   flex-direction: row;
// }

.add-to-order {
  display: flex;
  align-self: flex-end;
}
