footer {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #dddddd;
  color: #4d4d4d;
  bottom: 1px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.socials-links{
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links:hover{
  color: #000000;
}
.socials-links:hover{
  color:#000000;
}
