// See: https://sass-lang.com/

//body,
//html {
//  box-sizing: border-box;
//  margin: 0;
 // display: flex;
//  flex-direction: column;
//}

// *, *:before, *:after {
//   box-sizing: inherit;
// }

body {
  color: black;
  background-color: #ffffff !important;
  font-size: 24px;
  font-family: 'Arima Madurai', sans-serif;
  display: flex;
  flex-direction: column;
}



