nav {
  height: 150px;
  width: 100%;
  background-color: #dddddd;
  color: #4d4d4d;
  font-family: 'Arima Madurai', sans-serif;
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;

  #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1em;
  }

  #logo-img {
    font-size: 40px;
    padding-bottom: 20px;
    padding-right: 10px;
  }

  #menu-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    align-self: flex-end;
    align-items: flex-end;
    height: 100px;
    font-family: 'Sansita Swashed', sans-serif;
    font-weight: bold;
    font-size: 30px;
  }

  #sign-in {
  font-size: 20px;
  margin-right: 0px;
  justify-self: flex-end;
  }

  .item:hover {
    color: #000000;
  }

  #checkout-button {
    // position: fixed;
    // right: 40px;
    // bottom: 20px;
    // border-radius: 100%;
    background-color: #dddddd;
    outline: none;
    width: 5em;
    height: 5em;
    size: 20px;
    border: none;
  }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
}
