.order-sidebar {
  position: fixed;
  width: 300px;
  overflow-y: scroll;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  z-index: 99;
  color: #4d4d4d;


  h2 {
    // background-color: brown;
    color: #dddddd;

  }

  img {
    width: 100px;
    height: auto;
  }

  .order-item {
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: solid #4d4d4d 2px;
    font-family: 'Arima Madurai', sans-serif;
  }

  .sidebar-footer {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: row;
    background-color: #4d4d4d;
    color: #dddddd;


    i {
      color: #dddddd;
      font-size: 40px;
      margin-right: 20px;
    }
  }

  #hide-sidebar {
    cursor: pointer;
  }

  .quantity {
    width: 40px;
  }

  .plus button {
    border: none;
    background-color: white;
  }

  .minus button {
    border: none;
    background-color: white;
  }

  .remove-from-order {
    background-color: #dddddd;
    border-radius: 10px;
    color: #4d4d4d;

  }
}
