.order-sidebar {
  position: fixed;
  width: 300px;
  overflow-y: scroll;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  z-index: 99;
  color: #4d4d4d;
  font-family: 'Arima Madurai', sans-serif;



  header {
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    background-color: #4d4d4d;
    color: #dddddd;
    align-items: center;

    i {
      color: #dddddd;
      font-size: 40px;
      margin-right: 20px;
    }

    h2 {
      padding-top: 0.4em;
    }
  }

  .order-sidebar-content {
    margin-top: 65px;
  }


  #hide-sidebar {
    cursor: pointer;
  }


  h2 {
    // background-color: brown;
    color: #dddddd;

  }

  img {
    width: 100px;
    height: auto;
  }


  .order-item {
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: solid #4d4d4d 2px;
    font-family: 'Arima Madurai', sans-serif;
  }

  .sidebar-footer {
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }


  .quantity {
    width: 40px;
  }

  .plus button {
    border: none;
    background-color: white;
  }

  .minus button {
    border: none;
    background-color: white;
  }

  .remove-from-order {
    background-color: #dddddd;
    border-radius: 5px;
    color: #4d4d4d;

  }



  .cost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .total {
    border-top: #4d4d4d 2px solid;
  }

  .cart-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    button {
      font-family: 'Arima Madurai', sans-serif;
      background-color: white;
      border-radius: 5px;
      color: #4d4d4d;
    }
  }

  input[type='number'] {
    -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .quantity-error {
    color: red;
    display: none;
  }

  .remove-error {
    cursor: pointer;
    font-size: 1.2em;
  }
}
